.card_Mobile{
  background-color: transparent;
  width: 320px;
  min-width: 0;
  box-shadow: 5px 5px 10px;
  border-radius: 30px;
}

.card_image_div_Mobile{
  position: relative;
}

.card_image_Mobile{
  display:block;
  width:100%;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 150px;
  object-fit: cover;
  object-position: 0 90%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card_body_Mobile{
  padding: 0vh 3.5vh;
  padding-bottom: 2vh;
}

.card_body_text_Mobile{
  color: #a3a3a3;
}

.card_body_text_Mobile p{
  margin-top: 0;
  font-size: 2vh;
}

.card_footer_Mobile{
  display:flex;
  justify-content: center;
  color: #a3a3a3;
}

.hidden_button2_Mobile{
  width:100%;
  height:max-content;
  background: transparent;
  border: none;
  display: flex;
  padding: 0;
}
