.main {
  font-family: "Roboto", sans-serif;
  font-size: 10;
}

.btn {
  all: unset;
  width: 300px;
  font-size: 20px;
  text-align: center;
  padding: 8px 15px;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(-45deg, #82b3c9, #004ba0, #338aff, #3cf0c5);
  background-size: 600%;
}

.btn:hover {
  all: unset;
  cursor: pointer !important;
  width: 300px;
  font-size: 20px;
  text-align: center;
  padding: 8px 15px;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(-45deg, #82b3c9, #004ba0, #338aff, #3cf0c5);
  background-size: 600%;
}

.btnActive {
  all: unset;
  width: 300px;
  font-size: 20px;
  text-align: center;
  padding: 8px 15px;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(-45deg, #82b3c9, #004ba0, #338aff, #3cf0c5);
  background-size: 600%;
}

.btnActive:hover {
  all: unset;
  cursor: default;
  width: 300px;
  font-size: 20px;
  text-align: center;
  padding: 8px 15px;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(-45deg, #82b3c9, #004ba0, #338aff, #3cf0c5);
  background-size: 600%;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.authButtons {
  all: unset;
  margin: 0px 8px;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  padding: 5px 10px;
  color: #1c3b6b;
  border-radius: 5px;
  border: 2px solid #1c3b6b;
  background-size: 600%;
  transition: 0.35s;
  &:hover {
    color: #fff;
    background: #1c3b6b;
  }
}

.authButtonsFilled {
  all: unset;
  cursor: pointer;
  font-size: 17px;
  margin: 0px 8px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  background: #1c3b6b;
  border: 2px solid #1c3b6b;
  transition: background-color 0.35s;
  transition: 0.35s;
  &:hover {
    color: #1c3b6b;
    background: #fff;
  }
}